<h3>S3 Bucket:  <%= @bucket.name %></h3>

<% if @bucket.files.blank? %>
  There are no files to display (bucket is empty).
<% else  %>
  <%= form_tag "#{url_for :action => 'delete', :bucket_name => @bucket.name}" do %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody>
        <% @bucket.files.each do |f| %>
          <tr>
            <td>
              <div class="field">
                <%= radio_button_tag(:filename_to_delete, f.key) %>
                <%= label_tag(:filename_to_delete, f.key) %>
              </div>
            </td>
            <td><%= f.last_modified %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= submit_tag "Delete", data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>

<%= form_tag "#{url_for :action => 'upload', :bucket_name => @bucket.name}", multipart: true do %>
  <div class="field">
    <label for="file">Upload a new file or replace an existing one. </label> 
    <%= file_field_tag "file" %>
  </div>

  <%= submit_tag "Upload" %>
<% end %>